*{
    margin: 0;
    padding: 0;
  
 }

/* header*/
header{
    width: 100;
    height: 600px;
    background: #bc4e9c;
   background: -webkit-linear-gradient(to right, hsla( 340, 95%, 50%, 0.459) , hsla(317, 45%, 52%, 0.664)), url(../img/fondon.gif);
   background: linear-gradient(to right, hsla( 340, 95%, 50%, 0.459) , hsla(317, 45%, 52%, 0.664)), url(../img/fondon.gif);
   background-size: cover;
   background-attachment: fixed;
   position: relative;
   
   }
   
   
 .wave{
    position: absolute;
    bottom: 0;
    width:100%;
 

  }

  .texto-header h1{
    font-size: 50px;
    color: #fff;
}

.texto-header h2{
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}
header .texto-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
   flex-direction:column;
   text-align:center;
   
    
}

/* tarjetas*/


.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .Texto1{
    text-align: center;
    background: #bbcee0;
}
.botonE button{
    background-image: linear-gradient(to left, rgba(255, 146, 202, 0.75) 0%, rgba(145, 149, 251, 0.86) 100%);
      box-shadow: 0 9px 25px -5px #df91fb;
      font-family: 'Abel', sans-serif;
      padding: 0.5em 1.9em;
      margin: 1em 0 0 0;
      border-radius: 7px;
      font-size: 1.4em;
      cursor: pointer;
      color: #FFFFFF;
      font-size: 1em;
      outline: none;
      border: none;
    transition: 0.3s linear;
  }
  .botonE button:hover{
    transform: translatey(2px);
  }
  
  .botonE button:active{transform: translatey(5px);}

.card-body h4{
    text-align: center;
    font-size: 22px;
    font-weight: normal;
}
h2{
  
    font-size: 22px;
    font-weight: normal;
}
 .Texto5{
  text-align: justify;
    font-size: 13px;
    font-weight: normal;
}

.botonR button{
    background-image: linear-gradient(to left, rgba(255, 146, 202, 0.75) 0%, rgba(145, 149, 251, 0.86) 100%);
      box-shadow: 0 9px 25px -5px #df91fb;
      font-family: 'Abel', sans-serif;
      padding: 0.5em 1.9em;
      margin: 1em 0 0 0;
      border-radius: 7px;
      font-size: 1.4em;
      cursor: pointer;
      color: #FFFFFF;
      font-size: 1em;
      outline: none;
      border: none;
    transition: 0.3s linear;
  }
  .botonE button:hover{
    transform: translatey(2px);
  }
  
  .botonE button:active{transform: translatey(5px);}

  .ficha span {
     text-align: center;
     margin-left: 200px;
     font-size: 40px;
 }

 .input-error{
  border: 1px solid red;
}
.input-success{
  border: 1px solid green;
}

input[type="text"], input[type="password"]{
  font-size:16px;
  padding:10px;
}
input[type="text"]:focus, input[type="password"]:focus{
  outline-width: 0;
}
