*{
   margin: 0;
   padding: 0;
  box-sizing: border-box;
}
body{
    background: #fff;
    font-family: Arial;

}

.nav{
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid rgba(255,255,255,0.8);
}



/* header*/
header{
    width: 100;
    height: 600px;
    background: #bc4e9c;
   background: -webkit-linear-gradient(to right, hsla( 340, 95%, 50%, 0.459) , hsla(317, 45%, 52%, 0.664)), url(../img/22.jpeg);
   background: linear-gradient(to right, hsla( 340, 95%, 50%, 0.459) , hsla(317, 45%, 52%, 0.664)), url(../img/22.jpeg);
   background-size: cover;
   background-attachment: fixed;
   position: relative;
   
   }
   
   
 .wave{
    position: absolute;
    bottom: 0;
    width:100%;
 

  }

  .texto-header h1{
    font-size: 50px;
    color: #fff;
}

.texto-header h2{
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}
header .texto-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
   flex-direction:column;
   text-align:center;
   
    
}

/* promociones*/
/*
.container{
   background: #fff;
   width: 95%;
   max-width: 1000px;
   margin: 20px auto;

}
*/
.menu ul{
  list-style: none;
  width: 100%;
  background:#3691be;;
  display: table;
}
.menu ul li{
    display: table-cell;
    width: calc(38px * 5);
}


.menu ul li a{
    
     display: block;
     color: #fff;
     padding: 20px 0;
     text-align: center;
}

.menu ul .todos {background:#3691be;}
.menu ul .laptop { background: #3691be;}
.menu ul .camara {background:#3691be;}
.menu ul .iphone { background: #3691be;}
.menu ul .audifono { background: #3691be;}

/*
.galeria{
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    display: flex;    
    flex-wrap: wrap;   cuando un elemnto que no quepa a lado se pase abajo automaticamente flex-wrap: wrap   
    flex-direction: row; 
}

*/
/*
.galeria .title-img{
    width: 100%;
    border-top: 4px solid #46ABDF;
}

.galeria .title-img h3{
    font-size: 38px;
    text-align: center;
    padding: 10px 0;
    color: #636363;
    font-weight: 100;
}
*/
/*
.galeria .box-img{
    width: calc(90px*3);
    margin: 10px;
    border-radius: 2px;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, .6);
    overflow: hidden;
}
.galeria .box-img img{  
    width: 100%;
    vertical-align: top;
    cursor: pointer;
    transition: all .5s ease;
}
.galeria .box-img img:hover{
    transform: scale(1.2);
}

.galeria .box-img a{
    display: block;
    width: 100%;
    padding: 8px 0;
    background: #2D3E50;

    color: #fff;
   text-align:center;
   text-decoration: none;
}
*/
.active{
    border-bottom: 4px solid #E62117;
}


.h6, h6 {
    font-size: 12px !important; 
}

p{
    font-size:  12px !important;
}


.post-user{
    font-weight: bold;
    font-size:12px;
    line-height: 1;
  }
  
  .post-content{
    font-size:10px;
    line-height: 1;
  }
  .colorEnlace{
    color: #fff !important;
  }

  .modal-header{
    background-color: #27598b!important;
    color: #fff;
}


  
  .novedades i{
    background: #3FFFD7;
    color: #1F7F6B;
    font-size: 50px;
    padding: 16px;
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 40px;
    border-radius: 90%;
    border:2px solid #2FBFA1;
    -webkit-box-shadow:inset 0 0 15px 0 rgba(0,0,0,0.3);
    box-shadow:inset 0 0 15px 0 rgba(0,0,0,0.3);
    text-shadow: 0 1px 0 rgba(255,255,255,0.3);
   }

  